{% extends 'TiberiadeMainBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Ajout article
{% endblock %}

{% block body %}
    <h2>Ajouter un article : </h2>
    <div style="margin: 15px 0">
    {{ form_start(form)}}
    {% include 'TiberiadeMainBundle:Admin:form.html.twig' with { "form" : form } only %}
    {{ form_end(form)}}
    </div>
    
{% endblock %}