{% extends 'TiberiadeMainBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block body %}
    <h2>Créer un compte : </h2>    
    {% block form_row %}
    <form action="{{ path('creerCompte') }}"  method="post">
            <div>
                Login : <input type="text" name="username" id="username" /> 
            </div>
            <div>
                Mot de passe :<input type="password" name="password" id="password" />
            </div>
            <div>
                Nom : <input type="text" name="nom" id="nom" />
            </div>
            <div>
                Prenom : <input type="text" name="prenom" id="prenom" />
            </div>
            <div>
                Email : <input type="email" name="email" id="email" /> 
            </div>
            <div>
                <input type="submit" name="connexion" value="Connexion" />
            </div>
        </form>
{% endblock %} 
{% endblock %}
